// increase specificity to override MUI styles
:not(.\9) {
    .change-password-layout {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
    }
    .change-password-text-field {
        width: 100%;
    }
    .change-password-button {
        margin: 24px 0 16px;
        width: 100%;
    }
    .change-password-resend-layout {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-top: 8px;
        width: 100%;
    }
}
