:not(.\9) {
    .draw-layout {
        bottom: 0;
        left: 0;
        margin: 16px;
        padding: 16px;
        position: absolute;
    }
    .draw-color-container {
        display: flex;
    }
    .draw-color-column {
        display: flex;
        flex-direction: column;
    }
}
