:not(.\9) {
    .home-page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .home-header,
    .home-footer {
        opacity: 0;
        transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);

        &.visible {
            opacity: 1;
        }
    }

    .home-container {
        align-items: center;
        display: flex;
        flex-grow: 1;
        font: var(--mui-font-h1);
        justify-content: center;
        padding: 16px;
    }

    .home-swengineer {
        display: inline-flex;
        flex-direction: row;
        padding: 0 0.05em 0.1em 0.05em;
        margin: 0 0 -0.1em 0;
        transition: background-color 0.5s, color 0.5s;

        .collapse {
            &.hidden {
                max-width: 0;
                opacity: 0;
            }
        }

        &.default {
            color: var(--mui-palette-text-primary);
        }

        &.colour {
            color: var(--mui-palette-secondary-main);
            transition: none;

            &.light {
                background-color: var(--mui-palette-text-primary);
            }
        }

        .keyword {
            &::after {
                content: attr(data-cursor);
                display: inline-block;
                margin-left: 2px;
                animation: blink 1s step-end infinite;
            }

            &.typing::after {
                animation: none;
            }
        }

        @keyframes blink {
            50% {
                opacity: 0;
            }
        }
    }
}
