:not(.\9) {
    .home-page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .home-container {
        align-items: center;
        display: flex;
        flex-grow: 1;
        font: var(--mui-font-h1);
        justify-content: center;
        padding: 16px;
    }

    .home-swengineer {
        display: inline-flex;
        flex-direction: row;
        padding: 0 0.05em;
        margin: 0 -0.05em;
        transition: background-color 0.5s, color 0.5s;

        &.default {
            color: var(--mui-palette-text-primary);
        }

        &.colour {
            color: var(--mui-palette-secondary-main);

            &.light {
                background-color: var(--mui-palette-text-primary);
            }
        }
    }
}
