:not(.\9) {
    .home-layout {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        min-height: 100vh;
        nav-index: 0;
        outline: none;
        width: 100%;
    }
    .home-header-container {
        width: 100%;
    }
    .home-container {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        margin: 16px 0;
    }
    .home-text {
        white-space: pre;
    }
    .home-text-line {
        display: flex;
        flex-direction: row;
    }
    .home-text-word {
        display: flex;
        flex-direction: row;
        transition: color 0.5s;
    }
}
