:not(.\9) {
    .login-layout {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
    }
    .login-email-text-field {
        width: 100%;
    }
    .login-password-text-field {
        width: 100%;
    }
    .login-button {
        margin: 24px 0 16px;
        width: 100%;
    }
}
