:not(.\9) {
    .reset-password-container {
        margin-top: 8px;
        width: 100%;
    }
    .reset-password-text-field {
        width: 100%;
    }
    .reset-password-button {
        margin: 24px 0 16px;
        width: 100%;
    }
    .reset-password-email-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-top: 8px;
        width: 100%;
    }
    .reset-password-email-text {
        text-align: center;
    }
}
