// increase specificity to override MUI styles
:not(.\9) {
    .footer-layout {
        margin-top: auto;
        position: sticky;
    }
    .footer-start {
        flex-direction: column;
        display: flex;

        .MuiTypography-root {
            line-height: 1.2;
            color: var(--mui-palette-text-primary);
        }
    }
    .footer-end {
        align-items: flex-end;
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }
}
