// increase specificity to override MUI styles
:not(.\9) {
    .footer-layout {
        margin-top: auto;
        position: sticky;
    }
    .footer-start {
        align-items: center;
        display: flex;
    }
    .footer-end {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }
}
