// increase specificity to override MUI styles
:not(.\9) {
    .header-app-bar {
        background: transparent;
        box-shadow: none;
        position: sticky;
    }
    .header-start {
        align-items: center;
        display: flex;
        font-size: 1.275em;
    }
    .header-end {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }
    .header-flag-grid {
        flex-direction: column;
    }
    .header-flag-button {
        color: var(--mui-palette-text-primary);
        line-height: 1;
        text-transform: none;
        white-space: nowrap;
    }
    .header-flag-icon {
        font-size: 2em !important; // increase specificity to override MUI styles
    }
    .header-avatar {
        height: 24px;
        width: 24px;
    }
    .header-avatar-menu-paper {
        min-width: 120px;
    }
}
