// increase specificity to override MUI styles
:not(.\9) {
    .logo-link {
        text-decoration: none;
    }
    .logo-container {
        align-items: center;
        display: flex;
        flex-direction: row;

        &.light {
            background-color: var(--mui-palette-text-primary);
        }
    }
    .logo-image {
        height: auto;
        padding: 4px;
        width: 2em;
    }
    .logo-text {
        color: var(--mui-palette-common-white);
        font-family: "Cascadia Mono";
        font-size: 1em;
        padding: 4px;
    }
}
