// increase specificity to override MUI styles
:not(.\9) {
    .page-layout {
        align-items: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh;

    }
    .page-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 16px 0;
    }
}
